:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  max-width: 720px;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}
